<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	<link rel="stylesheet" type="text/css" href="./css/car.css"/>
	<body>
		
			<div id="car-top">
				<div class="margin">
					<div class="t-left">
						<a href="detail.html">所有在售商品</a>
					</div>
					<div class="t-right">
						<a href="landing.html">欢迎登录</a>
						<span>|</span>
						<a href="register.html">退出</a>
					 	<p> 
							<a href="goods.html">去购物(<span>2</span>)</a>
						</p>
					</div>
				</div>
			</div>
			<div id="header-car" class="margin">
				<div class="logo">
					<a href="index.html"><img src="https://img.1000.com/qm-a-img/prod/1308513/8d0c1df0545fa958a41b45e7b0b3dd45.jpg@185w_60h_1wh.jpg"/></a>
				</div>
				<ul>
					<li style="color: #f60;background: 3FFE6BC;">1.查看购物车</li>
					<li>2.填写核对订单信息</li>
					<li>3.提交订单成功</li>
				</ul>
			
			</div>
			<h3 class="margin">我的购物车</h3>
			<div class="txt-name margin">
				<form>
					<input type="checkbox" name="" id="" value="" />全选
					<span>商品</span>
				</form>
				<div class="txt-r">
					<span>单价（元）</span>
					<span>数量</span>
					<span>小计（元）</span>
					<span>操作</span>
				</div>
			</div>
			<div class="car-list margin">
				<div class="list-top">
					<span>促销</span>
					<span>满1100元 减100元;满2240元 减240元;满3400元 减400元</span>
				</div>
				<div class="goods-list ">
					<!--<form action="" method="post" class="good-form">
						<input type="checkbox" name="" id="" value="" />
						<img src="imgs/0df2c6ea62b2ef8e3539433f8755930e.jpg@.webp"/>
						<span class="name">雪瑞芙 狗狗沐浴露 洗澡香波宠物清洁用品 全效柔润 500ml</span>
						
						<input type="number" name="num" id="num" value="" />
						<span class="price">$59.00</span>
						<span class="clear">删除</span>
					</form>-->
					
				</div>
				<div class="cont-box">
					<div class="cont">
						<span>总价：</span><span class="sum">0</span><i>元</i>
					</div>
				</div>
		<div id="goods-b"></div>
	</body>
	<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/index.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="libs/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/car.js" type="text/javascript" charset="utf-8"></script>
</html>
