<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>详情页</title>
	</head>
	<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	<link rel="stylesheet" type="text/css" href="./css/detail.css"/>
	<body>
		<div id="p1"></div>
		<div class="cq-t">
			<div class="margin">
				<a href="#">清洁护理</a><i>></i>
				<a href="#">香波浴液</a><i>></i>
				<a href="#">爱肯</a><i>></i>
				<a href="#">美国i care 香波沐浴露</a>
			</div>
		</div>
		<div class="cq-c margin">
			<div class="cq-c-left">
				<div class="imgbox">
					<img src="imgs/1b5ba79d8c9bfade201f3ee46808e4ff.jpg"/>
				</div>
				<div class="small-img">
					<p class="p1"><img src="imgs/1b5ba79d8c9bfade201f3ee46808e4ff.jpg"/></p>
					<p class="p2"><img src="imgs/d915f87103a48bf83e4f4d824a213251.jpg"/></p>
				</div>
			</div>
			<div class="cq-c-right">
				<div class="text-box">
					<h3>美国I care爱肯 香波沐浴露浴液500ml 抗菌除蚤（500ml）</h3>
					<p>美国I care爱肯全效 抗菌 红棕宠物狗狗香波沐浴露YU 500ml</p>
					<div class="text-b-s">
						<p>
							<span>价格：</span><i>￥80</i><span>累计评价</span><em>19</em>
						</p>
						<div class="text-cx">
							<span>本店活动：<em>促销</em> 满100元 减100元</span>
							<span class="discont">更多优惠</span>
							<span class="ewm">扫码手机购买</span>
							<img src="imgs/ewm.png"/>
						</div>
					</div>
					<div class="car-buy">
						<span>数量：</span>
						<input type="number" name="num" id="num" value="" />
						
					</div>
					<input type="button" name="shop" id="shop" value="立即购买" />
					<input type="button" name="addcar" id="addcar" value="加入购物车" />
				</div>
			</div>
		</div>
		<div class="xq-box margin">
			<div class="xq-b-left">
				<h3>最新商品</h3>
				<ul>
					<li>
						<img src="imgs/8de61cbd4e073db931c2e331f92c6baa.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/0cb7bc5e72e4782c17b6aab4ab2a3b5e.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/8de61cbd4e073db931c2e331f92c6baa.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/0cb7bc5e72e4782c17b6aab4ab2a3b5e.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/8de61cbd4e073db931c2e331f92c6baa.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/0cb7bc5e72e4782c17b6aab4ab2a3b5e.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
				</ul>
			</div>
			<div class="box demo2">
				<ul class="tab_menu">
					<li class="current">综合</li>
					<li>销量</li>
					<li>价格</li>
					<li>评价</li>
				</ul>
				<div class="tab_box">
					<div>
						<ul>
							<li>商品名称： 美国I care爱肯 香波沐浴露浴液500ml 红棕亮丽（500ml）</li>
							<li>商品编号：DOK-1A</li>
							<li>店铺： 骨头族——宠物用品批发、分销、宠物店采购一店式供应平台</li>
							<li>上架时间：2018-06-18</li>
						</ul>
					</div>
					<div class="hide">
						<ul>
							<img src="imgs/pj1.png" width="959">
						</ul>
					</div>
					<div class="hide">
						<ul>
						</ul>
					</div>
					<div class="hide">
						<ul>
						</ul>
					</div>
				</div>
		</div>
		
	</div>
		<div id="p2"></div>
	</body>
</html>
<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>

<script src="libs/jquery.tabs.js"></script>
<script src="libs/jquery.lazyload.js"></script>
<script src="js/detail.js" type="text/javascript" charset="utf-8"></script>
