<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品页</title>
	</head>
	<link rel="stylesheet" type="text/css" href="./css/index.css"/>
	<link rel="stylesheet" type="text/css" href="./css/detail.css"/>
	<link rel="stylesheet" type="text/css" href="./css/goods.css"/>
	<body>
		<div id="p1"></div>
		
		
		<div class="xq-box margin">
			<div class="xq-b-left">
				<h3>最新商品</h3>
				<ul>
					<li>
						<img src="imgs/8de61cbd4e073db931c2e331f92c6baa.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/0cb7bc5e72e4782c17b6aab4ab2a3b5e.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/8de61cbd4e073db931c2e331f92c6baa.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/0cb7bc5e72e4782c17b6aab4ab2a3b5e.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/8de61cbd4e073db931c2e331f92c6baa.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
					<li>
						<img src="imgs/0cb7bc5e72e4782c17b6aab4ab2a3b5e.jpg@.webp"/>
						<p>顶致固定碗悬挂碗 小号</p>
						<span>￥18.00</span>
					</li>
				</ul>
			</div>
			<div class="box demo2">
				<ul class="tab_menu">
					<li class="current">综合</li>
					<li>销量</li>
					<li>价格</li>
					<li>评价</li>
				</ul>
				<div class="tab_box">
						<!--<div class="box" index="">
							<img src="imgs/06f68c67f6521194e095c86288a628ad.jpg">
							<span>999</span>
							<p>名字米娜工作</p>
							<em>加入购物车</em>
						</div> -->
					<div >
						<ul>

						</ul>
					</div>
					<div class="hide">
						<ul>
						</ul>
					</div>
					<div class="hide">
						<ul>
						</ul>
					</div>
				</div>
		</div>
		
	</div>
		<div id="p2"></div>
	</body>
</html>
<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>

<script src="libs/jquery.tabs.js"></script>
<script src="libs/jquery.lazyload.js"></script>
<script src="js/detail.js" type="text/javascript" charset="utf-8"></script>
<script src="libs/cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="js/goods.js" type="text/javascript" charset="utf-8"></script>
