<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link rel="stylesheet" type="text/css" href="css/loading.css"/>
	<body>
	<div id="top" class="margin">
		<img src="imgs/8d0c1df0545fa958a41b45e7b0b3dd45.jpg@185w_60h_1wh.jpg"/>
		<h1>欢迎登录</h1>
	</div>
	
	<div class="main">
		<form action="" method="post">
			<a href="register.html" >免费注册</a>
			<input type="text" id="user" value="" minlength="4" maxlength="12"digits=true required=true placeholder="请输入用户名"/>
			<input type="text" id="pass" value="" maxlength="6" minlength="6"required=true placeholder="请输入密码"/>
			<p>
				<input type="checkbox" name="" id="" value="" />
				<span >记住账号</span>
				<a href="#">忘记密码？</a>
			</p>
			<input type="button" id="sunb" value="登   陆"/>
			<p class="cheak"></p>
		</form>
	</div>
	
	<div id="footer">
		
	</div>
	</body>
	<script src="libs/jquery.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="js/index.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="js/loading.js"></script>
	<script src="libs/jquery.validate.js"></script>
<script src="libs/jquery.validate.messages_zh.js"></script>
</html>
