#box-t {
  border-bottom: 1px solid #C40001;
  height: 100px; }
  #box-t .logo {
    width: 500px;
    float: left;
    margin-top: 25px; }
  #box-t p {
    float: right;
    margin-top: 62px;
    margin-right: 20px;
    font-size: 12px; }
    #box-t p .dl {
      display: inline-block;
      font-size: 12px;
      color: #C40001; }

.regPcon {
  width: 600px;
  height: 384px;
  padding: 60px 300px; }
  .regPcon h2 {
    color: #FD8CB0;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center; }
  .regPcon #registerForm {
    margin: 0 132px; }
    .regPcon #registerForm p {
      width: 600px; }
      .regPcon #registerForm p label {
        font: 700 12px/42px "";
        width: 64px;
        height: 42px;
        display: -webkit-inline-box;
        text-align: right;
        text-align: -webkit-right; }
      .regPcon #registerForm p input {
        width: 266px;
        height: 38px;
        border: 1px solid #EEEEEE;
        text-indent: 5px;
        margin-bottom: 20px; }
    .regPcon #registerForm #regBtn {
      height: 40px;
      margin-left: 40px;
      background: #FD8CB0;
      border: none;
      border-radius: 5px;
      color: #fff;
      font: 700 16px/40px "";
      width: 300px; }
